@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.header {
    height: 650px;
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.header-content-img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.header-content-img img {
    width: 100%;
    height: 100%;
}

.header-content-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-content-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.btn {
    width: 200px;
    height: 50px;
    font-family: Azeret Mono;
    border: none;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 16px;
}

/* header section styles end */

.why-webdevelopment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1100px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-webdevelopment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 850px;
    height: 1000px;
}

.why-webdevelopment-box-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.why-webdevelopment-box-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.why-webdevelopment-box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 280px;
    border-radius: 5px;
    background-color: rgb(236, 235, 235);
    padding: 0px 10px;
    /* background-color: white; */
}

.why-webdevelopment-box-content-title {
    font-family: Azeret Mono;
    color: rgb(56, 48, 48);
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 15px;
}

.why-webdevelopment-box-content-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
}

.web-dev-btn {
    /* width: 100px;
    height: 35px; */
    padding: 10px 10px;
    margin-top: 15px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    background-color: white;
    border: none;
}